<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZ5XrywiDsVu0a631PP-Iph0Cb20mmxFI</string>
	<key>GCM_SENDER_ID</key>
	<string>464699515351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blottApp</string>
	<key>PROJECT_ID</key>
	<string>blott-9ab19</string>
	<key>STORAGE_BUCKET</key>
	<string>blott-9ab19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464699515351:ios:9cfca119fedcf5e6f76b92</string>
</dict>
</plist>